<div class="container">
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">I am blogs</h1>
		{% highlight java %}
				public class Person {
				    public boolean hasFollowedLeifeng(){
				        Calendar gmtCal = Calendar.getInstance(TimeZone.getTimeZone("GMT"));
				        gmtCal.set(1950, Calendar.JANUARY, 1, 0, 0, 0);
				        Date leifengStart = gmtCal.getTime();
				        gmtCal.set(1983, Calendar.JANUARY, 1, 0, 0, 0);
				        Date lefengEnd = gmtCal.getTime();
				        return birthDate.compareTo(leifengStart) >= 0 && 
				               birtheDate.compareTo(leifengEnd) < 0 ;
				    }
				}
		{% endhighlight %}
	</div>
</div>	
</div>

